@use '../../styles/variables';

.about-page {
  padding: 5rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.about-collapse {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 1024px;
  margin: 4rem auto 0rem auto;
}