@use '../../styles/variables';

.home-container {
  padding: 5rem;

  @media (max-width: 768px) {
      padding: 1rem;
  }
}

.cards-container {
  margin-top: 3rem;
  background-color: variables.$background-light;
  border-radius: 1rem;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 2rem;

    @media (max-width: 768px) {
        padding: 0rem;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        background-color: #fff;
  }
}