@use '@styles/variables';
@use '@styles/mixins';

.collapse {
  background-color: #f6f6f6;
  border-radius: 10px;
  margin-bottom: 1rem;
  overflow: hidden;

  .collapse-header {
    background-color: #ff6060;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h3 {
      margin: 0;
      font-size: 1rem;
    }

    .icon-chevron {
      transition: transform 0.3s ease;
      font-size: 1.2rem;
    }

    .icon-chevron.rotated {
      transform: rotate(180deg);
    }
  }

  /* .collapse-content {
    padding: 0;
    animation: fadeSlideDown 0.2s ease-out;
    animation-delay: 0.3s;
    animation-fill-mode: both;
  } */

  .collapse-content {
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    max-height: 0;
    transform: translateY(-20px);
    padding: 0 1rem;

    &.open {
      opacity: 1;
      max-height: 500px;
      transform: translateY(0);
      padding: 1rem;
    }

    &.closed {
      opacity: 0;
      max-height: 0;
      transform: translateY(-10px);
      padding: 0 1rem;
    }
  }

  .collapse-inner {
    padding: 1rem;
    animation: fadeIn 0.3s ease;
    font-size: 0.95rem;
  }

  .collapse-content ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 0.2rem;
  }
}

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* @keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
}