@use '@styles/variables';
@use '@styles/mixins';

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 0rem 4rem;

  .logo {
    width: 210px;
    height: 70px;

      @media (max-width: 768px) {
        width: 145px;
        height: 45px;
    }
  }

  nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: variables.$text-dark;
    font-weight: 500;
    font-size: 24px;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
      padding: 1.5rem 1rem 1rem 1rem;
  }
}